<mat-card class="fullscreen">

<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile>
    <a href="/relmgmtreports">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Release Management Reports</mat-card-title>
          <mat-card-subtitle>HPALM, TFS, and more</mat-card-subtitle>
        </mat-card-header>
        <i class="material-icons md-48">assessment</i>
        <mat-card-content>
          <p>
            Publicly available reports for Motiva extracted from HP ALM and TFS.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>

  <mat-grid-tile>
    <a href="/envmgmt">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Environment Management Web Application</mat-card-title>
          <mat-card-subtitle>Manage Enviroment Usage</mat-card-subtitle>
        </mat-card-header>
        <i class="material-icons md-48">assessment</i>
        <mat-card-content>
          <p>
            A secured application intended to assist Motiva in its task with managing environment usage, requests, refreshes.  
            What is the status of each environment and application throughout the controlled landscape of the Release Managmement Team.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>

</mat-grid-list>

</mat-card>