<!-- app-nav-menu></app-nav-menu -->
<mat-sidenav-container style="height:100%">
  <mat-sidenav #sidenav mode="side" opened="true">
    <side-nav-menu title='Menu' [sidenav]="sidenav">
      <side-nav-item route="/home" title="Home" icon="home"></side-nav-item>
      <side-nav-group>
        <side-nav-item route="/envrequestform" title="Env Request" icon="add_alert"></side-nav-item>
        <side-nav-item route="/" title="Review Env Requests" icon="thumbs_up_down"></side-nav-item>
        <side-nav-item route="/" title="Env Usage Dashboard" icon="dashboard"></side-nav-item>
      </side-nav-group>

      <side-nav-group>
        <side-nav-item route="/updateenvdashboard" title="Update Environment Status" icon="assessment"></side-nav-item>
        <side-nav-item route="/" title="Env Status Dashboard" icon="dashboard"></side-nav-item>
      </side-nav-group>

      <side-nav-x-group title="Administration">
        <side-nav-item route="/admin" title="Admin" icon="business"></side-nav-item>
        <side-nav-item route="/admin/retrieve-user" title="Users" icon="group"></side-nav-item>
        <side-nav-item route="/admin/adduser" title="Add User" icon="group_add"></side-nav-item>
      </side-nav-x-group>
    </side-nav-menu>
  </mat-sidenav>


  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Environment Management Tool</span>
  </mat-toolbar>

  <div style="text-align:center;width:100%">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
