<table border="0">
  <tr>
    <td width="300px">
      
    </td>
    <td width="100%">
      <div style="text-align:center">
        <h1>
          0518 - Release Pivot Summary
        </h1>
      </div>
    </td>
  </tr>
</table>

<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let last = last;">xx{{last}}</mat-row>

    <ng-container *ngFor="let column of columns; let colIndex = index" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <div *ngIf="colIndex == 0" class="mat-header-cell">{{ row[colIndex] }}</div>
        <div *ngIf="row[colIndex] == '-'">{{ row[colIndex] }}</div>
        <a routerLink="/somepage/{{ddlReleaseListValue}}/{{row[0]}}/{{column.header}}" *ngIf="colIndex > 0 && row[colIndex] != '-'">{{ row[colIndex] }}</a>
      </mat-cell>
    </ng-container>
      
  </mat-table>
</div>
