<!--component html goes here -->

<!--
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Project">
      <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Project }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Assigned">
      <mat-header-cell *matHeaderCellDef> Assigned </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Assigned }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Duplicate">
      <mat-header-cell *matHeaderCellDef> Duplicate </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Duplicate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Total }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row">
    </mat-row>

  </mat-table>
</div>
-->
<table border="1">
<!--<tr><td *ngFor="let colItem of someColumns; let i = index">{{ colItem }}</td></tr>-->
<tr *ngFor="let rowItem of someData; let j = index">
  <td *ngFor="let colItemValue of rowItem; let k = index">
      <a routerLink='/somePage/{{ddlReleaseListValue}}/{{rowItem[0]}}/{{someColumns[k]}}'>{{ colItemValue }}</a>
  </td>
</tr>

</table>
