<h1>Update Environment Status Dashboard</h1>
<p>This component will update the Environment Dashboard.</p>
<mat-select placeholder="Favorite food" [(ngModel)]="selectVal" (selectionChange)="changeSelect()">
  <mat-option>one</mat-option>
  <mat-option>two</mat-option>
</mat-select>
  <mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
      Update Environment Status Dashboard
    </mat-card-title>

    <mat-card-content>
      <form novalidate (ngSubmit)="save(f)" #f="ngForm">
        <table border="2">
          <tr>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="demo-full-width">
                <mat-select placeholder="Application" name="ddlApplication"
                            #ddlApplication="ngModel" [(ngModel)]="ddlApplicationValue"
                            (selectionChange)="onApplicationSelected($event)" required>
                  <mat-option *ngFor="let app of applicationList" [value]="app.applicationID">
                    {{app.applicationName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ddlApplication.hasError('required')">Please choose an Application</mat-error>
                <br />


              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="demo-full-width">
                <mat-select placeholder="Environment" name="ddlEnvironment"
                            #ddlEnvironment="ngModel" [(ngModel)]="ddlEnvironmentValue">
                  <mat-option *ngFor="let env of environmentList" [value]="env.environmentID">
                    {{env.envName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ddlEnvironment.hasError('required')">Please choose an Environment</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <!-- mat-form-field class="demo-full-width" -->
              <!-- /!--mat-form-field -->
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td colspan="2" class="content-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Save</button>
              <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
