<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    Environment Usage Request Form
  </mat-card-title>
  
  <mat-card-content>
    <form novalidate (ngSubmit)="save(f)" #f="ngForm">
      <table border="0">
        <tr><td colspan="4" wrap>For Integration Testing with other applications, a new Environment Request form will need to be submitted.  Add to the Misc. Notes section that a request is related to another request.</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <mat-form-field class="form-full-width">
              <input matInput placeholder="Requestor" name="txtRequestor"
                     [(ngModel)]="txtRequestor" disabled required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-full-width">
              <input matInput placeholder="Usage Owner" name="txtUsageOwner"
                     [(ngModel)]="txtUsageOwner">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="releaseDatePicker" placeholder="Release Date" disabled
                     (dateChange)="dateChangeReleaseDate($event.value)">
              <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #releaseDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <mat-form-field class="form-full-width">
              <mat-select placeholder="Project Team" name="ddlProjectTeam"
                          #ddlProjectTeam="ngModel" [(ngModel)]="ddlProjectTeamValue"
                          (selectionChange)="onddlProjectTeamSelected($event)" required>
                <mat-option *ngFor="let proj of projectTeamList" [value]="proj.projectTeamID">
                  {{proj.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ddlProjectTeam.hasError('required')">Please choose a Project Team</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-full-width">
              <mat-select placeholder="Application" name="ddlApplication"
                          #ddlApplication="ngModel" [(ngModel)]="ddlApplicationValue"
                          (selectionChange)="onApplicationSelected($event)" required>
                <mat-option *ngFor="let app of applicationList" [value]="app.applicationID">
                  {{app.applicationName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ddlApplication.hasError('required')">Please choose an Application</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-full-width">
              <mat-select placeholder="Environment" name="ddlEnvironment"
                          #ddlEnvironment="ngModel" [(ngModel)]="ddlEnvironmentValue" required>
                <mat-option *ngFor="let env of environmentList" [value]="env.appEnvID">
                  {{env.envName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ddlEnvironment.hasError('required')">Please choose an Environment</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <mat-form-field class="form-full-width">
              <input matInput placeholder="App Version" name="txtAppVersion"
                     [formControl]="txtAppVersionFormControl" [errorStateMatcher]="matcher"
                     [(ngModel)]="txtAppVersion" required>
              <mat-hint>ex: 1.2.3 or 1.2.3.4</mat-hint>
              <mat-error *ngIf="txtAppVersionFormControl.hasError('required')">
                Application Version Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-full-width">
              <input matInput placeholder="DB Version" name="txtDBVersion"
                     [(ngModel)]="txtDBVersion">
              <mat-hint>ex: 1.2.3 or 1.2.3.4</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" disabled>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matTimepicker]="startTimePicker" placeholder="Start Time" disabled>
              <mat-timepicker-toggle matSuffix [for]="startTimePicker"></mat-timepicker-toggle>
              <mat-timepicker #startTimePicker color="primary" disabled="false"></mat-timepicker>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" disabled>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matTimepicker]="endTimePicker" placeholder="Start Time" disabled>
              <mat-timepicker-toggle matSuffix [for]="endTimePicker"></mat-timepicker-toggle>
              <mat-timepicker #endTimePicker color="primary" disabled="false"></mat-timepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td colspan="4">
            <mat-form-field class="form-full-width">
              <textarea matInput placeholder="Miscellaneous Notes"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td colspan="4">{{ errorMessage }} </td>
        </tr>
        <tr>
          <td colspan="4" class="content-center">
            <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid || txtAppVersionFormControl.hasError('required')">Save</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  </mat-card>
